{% load i18n %}
<div class="b-right__detail n-brd__btm-no p4__detail" style="display: none">
    <div class="b-data__line clearfix">
        <p class="b-detail__title">{% trans 'Полис Travel' %}</p>
        <p class="b-detail__text">{% trans 'Оформление в' %} <span></span></p>
        <p class="b-detail__price"><span></span> AZN</p>

        {% trans 'Защита от непредвиденных расходов, связанных с предоставлением застрахованному медицинской, юридической, административной и иной помощи за границей' as travel_help_t %}
        {% include 'calculator/question.html' with answ=travel_help_t %}
    </div>
</div>

<div class="b-right__detail n-brd__btm-no delivery__detail" style="display: none">
    <div class="b-data__line clearfix">
        <p class="b-detail__title">{% trans 'Доставка курьером' %}</p>
        <p class="b-detail__text">{% trans 'осуществляется в Bakı или Sumqayıt' %}</p>
        <p class="b-detail__price"><span>0</span> AZN</p>
    </div>
</div>

<p class="b-total__text">{% trans 'итого Стоимость' %}</p>
<p class="b-total__summ">0 <span>AZN</span></p>