{% extends 'common/inner.html' %}
{% load i18n %}


{% block body_content %}
<div class="container-fluid visible-xs black-title-xs insurance-auto-xs">
    <div class="row">
        <div class=" col-xs-offset-1 col-xs-11">
            <span class="black-title">{% trans 'Страхование' %}</span>
        </div>
    </div>
</div>
<div class="insurance-vehicle-header">
    <div class="container-fluid inner-container">
        <div class="row">
            <div class="col-xs-offset-1 col-md-8 col-lg-6 col-xs-10">
                <div class="row">
                    <span class="black-title hidden-xs">{% trans 'Страхование автомобиля' %}</span>
                    <h1>
                        {% trans 'ОСАГО и КАСКО для опытных и не очень:' %}
                    </h1>
                    <p class="insurance-sub-title">
                        - {% trans 'Убедитесь, что это не дорого' %}<br class="hidden-xs">
                        - {% trans 'Выберите уникальный продукт для себя' %}<br class="hidden-xs">
                    </p>
                    <a href="#" class="order button" onclick="calculator.start_calculator('vehicle')">
                        {% trans 'Калькулятор' %}
                    </a>
                    <a href="/sale/auto-step-1/" class="order sale button">{% trans 'Купить онлайн' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

{# Блок иконок вызова модалок для xs экранов #}
{#{% include 'common/includes/base_modal_icons_xs.html' %}#}

{# Часть страницы продукта с вариантами покупки полиса #}
{% include 'flatpages/includes/inner_policy_ordering_auto.html' %}

{# Блок "Как работает" #}
{% include 'flatpages/includes/inner_insurance_details_auto.html' %}

{# Часть страницы продукта с вариантами доставки полиса #}
{% include 'flatpages/includes/inner_policy_delivery_auto.html' %}

{% endblock body_content %}