{% load i18n %}
<div class="feedback">
    <div class="container-fluid">
        <h2>{% trans 'Экспертное мнение о нас' %}</h2>
        <div id="slides2">
            <div class="row">
                <div class="visible-xs col-xs-1"></div>
                <div class="col-sm-12 col-xs-10">
                    <div class="row">
                        <img src="{{ STATIC_URL }}common/img/lap.png">

                        <div class="col-sm-2 col-xs-1"></div>
                        <div class="col-sm-8 col-xs-12">
                            <p class="text" style="font-size: 18pt;">“Sığorta brokeri fəaliyyəti dünyada uzun illər tarixinə malik olsa da və hətta müstəqil Azərbaycanda da sığorta ilə yaşıd olsada, Azərbaycan əhalisinin sığorta münasibətlərində brokerin əsl rolu hələdə formalaşmayıb. Broker - sığorta bazarının genişlənməsinə, sığorta mədəniyyətinin formalaşmasına və artırılmasına, sığorta mühitinin təhlilinə və inkişafına, həmçinin beynəlxalq təcrübənin lokallaşdırılmasına xidmət edir. Əminəm ki, Odlar Yurdu Sığorta Brokeri ölkəmizdə qlobal sığorta təcrübəsinin elçisi olacaq, sığortalı və sığortaçılara yaxın olacaq, sığortada vasitəçilik prinsiplərinə yeni nəfəs, yeni baxış gətirəcək”</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="row">
                                <div class="col-lg-offset-2 col-lg-2 col-sm-offset-1 col-sm-4">
                                    <img src="{{ STATIC_URL }}common/img/photo.png">
                                </div>
                                <div class="col-sm-6 feedback-wr">
                                    <h3>Rəhmanov Aydın Səməd oğlu</h3>

                                    <p>"Standard Insurance" Sığorta Şirkəti<br>İdarə Heyətinin Sədri</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="visible-xs col-xs-1"></div>
                <div class="col-sm-12 col-xs-10">
                    <div class="row">
                        <img src="{{ STATIC_URL }}common/img/lap.png">

                        <div class="col-sm-2 col-xs-1"></div>
                        <div class="col-sm-8 col-xs-12">
                            <p class="text" style="font-size: 20pt;">“Peşəkarlarla işləmək hər zaman rahat və zövqlüdür. Odlar Yurdunun da işə sırf peşəkarları cəlb etməsi tərəfdaş olaraq bizim də işimizi asanlaşdırır. Peşəkarların göstərdiyi xidmət səviyyəsi müştəri, eləcə də tərəfdaş sığorta şirkətlərini sevindirir.”</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="row">
                                <div class="col-lg-offset-2 col-lg-2 col-sm-offset-1 col-sm-4">
                                    <img src="{{ STATIC_URL }}common/img/photo1.png">
                                </div>
                                <div class="col-sm-6 feedback-wr">
                                    <h3>Əliyev Müseyib Fayaz oğlu</h3>

                                    <p>"Atasığorta" ASC<br>İdarə Heyətinin Sədri</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="visible-xs col-xs-1"></div>
                <div class="col-sm-12 col-xs-10">
                    <div class="row">
                        <img src="{{ STATIC_URL }}common/img/lap.png">

                        <div class="col-sm-2 col-xs-1"></div>
                        <div class="col-sm-8 col-xs-12">
                            <p class="text" style="font-size: 20pt;">
                                “Azerbaycan pazarinda bireysel sigortalarda brokerlik muessesesinin faal hale gelmesi cok guzel bir gelisme. 
                                Biz Axa Mbask olarak bu gelismeyi memnuniyetle izliyor ve destek veriyoruz.
                                Odlar Yurdu Brokerligin modern satis ve pazarlama araclarini teknoloji ile birlestirerek, sigorta urunlerini herkes icin kolay ulasilir hale getirmesinin cok faydali olduguna, bu uygulamalarin sigortanin tabana yayilmasina buyuk katki saglayacagina inaniyor ve kendilerine basarilar diliyoruz.”
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="row">
                                <div class="col-lg-offset-2 col-lg-2 col-sm-offset-1 col-sm-4">
                                    <img src="{{ STATIC_URL }}common/img/axa_foto.png">
                                </div>
                                <div class="col-sm-6 feedback-wr">
                                    <h3>Selçuk Adıgüzel Ayhan</h3>

                                    <p>“AXA MBASK” Sığorta Şirkəti<br>İdarə Heyətinin Sədri</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="visible-xs col-xs-1"></div>
                <div class="col-sm-12 col-xs-10">
                    <div class="row">
                        <img src="{{ STATIC_URL }}common/img/lap.png">

                        <div class="col-sm-2 col-xs-1"></div>
                        <div class="col-sm-8 col-xs-12">
                            <p class="text" style="font-size: 20pt;">
                                “Odlar Yurdu Sığorta Brokeri” Azərbaycan sığorta bazarının geniş pərakəndə məhsullarını təqdim edən qabaqcıl şirkətidir. Hər bir müştəriyə fərdi olaraq yanaşır və müştərinin istəyinə və ödəyə biləcək məbləğə uyğun olaraq sığorta məhsulları yaradır.”
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="row">
                                <div class="col-lg-offset-2 col-lg-2 col-sm-offset-1 col-sm-4">
                                    <img src="{{ STATIC_URL }}common/img/buta.png">
                                </div>
                                <div class="col-sm-6 feedback-wr">
                                    <h3>Suvanverdiyev Qənbər Behbud oğlu</h3>

                                    <p>"Buta Sığorta" ASC<br>İdarə Heyətinin Sədri</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="visible-xs col-xs-1"></div>
                <div class="col-sm-12 col-xs-10">
                    <div class="row">
                        <img src="{{ STATIC_URL }}common/img/lap.png">

                        <div class="col-sm-2 col-xs-1"></div>
                        <div class="col-sm-8 col-xs-12">
                            <p class="text" style="font-size: 20pt;">
                                “Odlar Yurdu Sığorta Brokeri” fəaliyyətinin ilk günlərindən Etika Akademiyası ilə əməkdaşlıq edir. Əməkdaşlığımız çərçivəsində şirkətin işçilərinə müştərilərlə ünsiyyət qaydaları öyrədilir. Odlar Yurdu şirkəti müştərilərlə iş zamanı “Davranış kodeksini” tətbiq edən az şirkətlərlərdən biridir.”
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="row">
                                <div class="col-lg-offset-2 col-lg-2 col-sm-offset-1 col-sm-4">
                                    <img src="{{ STATIC_URL }}common/img/etika.png">
                                </div>
                                <div class="col-sm-6 feedback-wr">
                                    <h3>Gunel İbrahim</h3>

                                    <p>Etika Akdemiyası<br>Direktor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>