{% load i18n %}

{% if product == '1' %}
    {# Основной продукт Urgent #}
    <div class="b-data__wr n-wr__green">
        <p>
            {% trans 'Продукт Urgent Care включает возмещение расходов на' %}:<br/>
            - {% trans 'вызовы скорой помощи (лимит 3 вызова)' %}
            - {% trans 'лечение в стационаре (в т.ч. и хирургическое) одного неотложного заболевания (лимит на количество дней пребывания в стационаре - 21)' %}<br/>
            - {% trans 'обеспечение медикаментами (во время оказания неотложной помощи и пребывания в стационаре)' %}<br/>
            - {% trans 'неотложная стоматология' %}<br />
            - {% trans 'неотложная вакцинация' %}<br/>
        </p>
    </div>

{% elif product == '2' %}
    {# Основной продукт Refund #}
    <div class="b-data__wr n-wr__green" id="refund__descr">
        <p>
            {% trans 'Патронаж для новорожденных' %}:<br/>
            - {% trans '1-й месяц - Медицинский осмотр: консультация педиатра, рентген грудной клетки, УЗИ брюшной полости, общий анализ крови, общий анализ мочи' %}<br/>
            - {% trans '2-й месяц - осмотр педиатра' %}<br/>
            - {% trans '3-й месяц - осмотр педиатра, по показаниям осмотры хирурга-ортопеда, невролога, окулиста, оториноларинголога' %}<br/>
            - {% trans '12-месяц - осмотр педиатра, общий анализ крови, общий анализ мочи' %}<br/>
            <br/>
            {% trans 'Возмещение расходов на медицинские услуги' %}:<br/>
            - {% trans 'скорая помощь (лимит 4 вызова)' %}<br/>
            - {% trans 'амбулаторная помощь (лимит 8 обращений)' %}<br/>
            - {% trans 'стационарная помощь' %}<br/>
            - {% trans 'обеспечение медикаментами (во время оказания неотложной помощи и пребывания в стационаре)' %}<br/>
            - {% trans 'неотложная стоматология' %}<br/>
            - {% trans 'терапевтическая стоматология (лимит 2 пломбы)' %}<br/>
            - {% trans 'неотложная вакцинация (франшиза 25&#37;)' %}<br/>
            - {% trans 'физиотерапия (лимит 10 процедур)' %}<br/>
        </p>
    </div>
    <div class="b-data__wr n-wr__green" id="refund_vip__descr" style="display: none">
        <p>
            {% trans 'Патронаж для новорожденных' %}:<br/>
            - {% trans '1-й месяц - Медицинский осмотр: консультация педиатра, рентген грудной клетки, УЗИ брюшной полости, общий анализ крови, общий анализ мочи' %}<br/>
            - {% trans '2-й месяц - осмотр педиатра' %}<br/>
            - {% trans '3-й месяц - осмотр педиатра, по показаниям осмотры хирурга-ортопеда, невролога, окулиста, оториноларинголога' %}<br/>
            - {% trans '12-месяц - осмотр педиатра, общий анализ крови, общий анализ мочи' %}<br/>
            <br/>
            {% trans 'Возмещение расходов на медицинские услуги' %}:<br/>
            - {% trans 'скорая помощь (лимит 4 вызова)' %}<br/>
            - {% trans 'амбулаторная помощь (лимит 8 обращений)' %}<br/>
            - {% trans 'стационарная помощь' %}<br/>
            - {% trans 'обеспечение медикаментами (во время оказания неотложной помощи и пребывания в стационаре)' %}<br/>
            - {% trans 'неотложная стоматология' %}<br/>
            - {% trans 'терапевтическая стоматология (лимит 2 пломбы)' %}<br/>
            - {% trans 'неотложная вакцинация (франшиза 25&#37;)' %}<br/>
            - {% trans 'физиотерапия (лимит 10 процедур)' %}<br/>
            <br/>
            {% trans 'Расширения для VIP пакета' %}:<br/>
            - {% trans 'массаж с выездом на дом (лимит 10 процедур)' %}<br/>
            - {% trans 'осмотр специалистами на дому' %}<br/>
            - {% trans 'медикаменты для амбулаторного лечения (лимит 200 AZN)' %}<br/>
            - {% trans 'пребывание в стационаре в одноместной палате' %}<br/>
            - {% trans 'пребывание матери в палате' %}
        </p>
    </div>
    {% include 'calculator/steps/health/step_4_options_2.html' %}

{% elif product == '3' %}
    {# Основной продукт Program 69 #}
    <div class="b-data__wr n-wr__green" id="p69__descr">
        <p>
            {% trans 'Данное страхование оплачивает расходы на лечение, если у Страхователя диагностировано злокачественное онкозаболевание в течение срока действия договора страхования.' %}<br/>
            - {% trans 'Ежегодный рост страховой суммы 2000 манат' %}<br/>
            - {% trans 'Waiting Period 4 мес.' %}<br/>
            - {% trans 'Эффективность полиса после диагностирования заболевания 1 год 8 мес' %}<br/>
            - {% trans 'Максимальный лимит 45000 манат' %}
        </p>
    </div>
    <div class="b-data__wr n-wr__green" id="p69_ext__descr" style="display: none">
        <p>
            {% trans 'Данное страхование оплачивает расходы на лечение, если у Страхователя диагностировано злокачественное онкозаболевание в течение срока действия договора страхования. ' %}<br/>
            - {% trans 'Ежегодный рост страховой суммы 3000 манат ' %}<br/>
            - {% trans 'Waiting Period 4 мес. ' %}<br/>
            - {% trans 'Эффективность полиса после диагностирования заболевания 2 года ' %}<br/>
            - {% trans 'Максимальный лимит 55000 манат' %}
        </p>
    </div>
    {% include 'calculator/steps/health/step_4_options_3.html' %}
{% endif %}

{#<div class="b-line__separator table-separator"></div>#}