{% load i18n %}
<div class="b-form__block n-form__despolicy n-form__step clearfix" id="step-5">
    <div class="b-form__left clearfix">
        <div>
            <a href="#" class="pull-right b-item__edit j-calculator__reset">{% trans 'В начало' %}</a>
        </div>
        <div class="b-step__title n-title__ico n-t-ico__health">
            <h2>{% trans 'Оформление полиса' %}</h2>
        </div>

        {# Полоса прогресса заполнения формы (точки) #}
        <ul class="b-step__current">
            <li class="b-step__current-item n-item__curr"><a href="#"></a></li>
            <li class="b-step__current-item"><a href="#"></a></li>
            <li class="b-step__current-item"><a href="#"></a></li>
            <li class="b-step__current-item"><a href="#"></a></li>
            <li class="b-step__current-item"><a href="#"></a></li>
        </ul>

        {# Использование данных личного кабинета (временно отключено, до появления личного кабинета) #}
{#        <div class="b-data__line">#}
{#            <div class="b-data__wr n-wr__green">#}
{#                <p>{% trans 'Использовать данные из личного кабинета' %}</p>#}
{#                <div class="row">#}
{#                    <div class="b-data__wr col-xs-6">#}
{#                        <input type="radio" data-window="1" name="calc[savedata]" id="calc[savedata][no]"#}
{#                               class="b-form__radio n-main__radio n-savedata__no">#}
{#                        <label for="calc[savedata][no]">{% trans 'Нет' %}</label>#}
{#                    </div>#}
{#                    <div class="b-data__wr col-xs-6">#}
{#                        <input type="radio" data-window="1" name="calc[savedata]" id="calc[savedata][yes]"#}
{#                               class="b-form__radio n-main__radio n-savedata__yes">#}
{#                        <label for="calc[savedata][yes]">{% trans 'Да' %}</label>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        {# Условия страхования #}
        <div class="b-calc__item n-calc__vehicle n-form__layer e-active clearfix" id="layer-1" style="display: block">
            <h3>{% trans 'Условия страхования' %}</h3>

            <div class="b-layer__content">

                {# Дата начала действия договора #}
                <div class="b-data__line">
                    <div class="b-label__wr col-md-4 col-xs-5">
                        <div class="row">
                            <label for="id_d_start">{% trans 'Дата начала договора' %}</label>
                        </div>
                    </div>
                    <div class="b-input__wr col-md-7 col-xs-6">
                        <div class="row">
                            <input type="text" name="d_start" id="id_d_start" class="b-input j-dog__from n-calendar">
                        </div>
                    </div>

                    {% trans 'Дата, с которой договор страхования вступает в силу' as d_start_help %}
                    {% include 'calculator/question.html' with answ=d_start_help %}

                    <div class="field-error"><span></span></div>
                </div>

                <a href="#" class="order button j-next__layer">{% trans 'Продолжить' %}</a>
            </div>
        </div>

        {# Данные о страхователе #}
        <div class="b-calc__item n-calc__insurer n-form__layer clearfix" id="layer-2">
            <h3>{% trans 'Страхователь' %}</h3>

            <div class="b-layer__content">

                {% include 'calculator/steps/vehicle/step_5_person_info.html' with fields=ins_fields %}

                <a href="#" class="order button j-next__layer" data-last="true">{% trans 'Продолжить' %}</a>
            </div>
        </div>

        {# Данные застрахованного #}
        <div class="b-calc__item n-calc__insurance n-form__layer clearfix" id="layer-3">
            <h3>{% trans 'Данные застрахованного' %}</h3>

            <div class="b-layer__content">

                {# фамилия застрахованного #}
                <div class="b-data__line">
                    <div class="b-label__wr col-md-4 col-xs-5">
                        <div class="row">
                            <label for="id_insured_lname">{% trans 'Фамилия' %}</label>
                        </div>
                    </div>
                    <div class="b-input__wr col-md-7 col-xs-6">
                        <div class="row">
                            <input type="text" name="insured_lname" id="id_insured_lname" class="b-input">
                        </div>
                    </div>

                    <div class="field-error"><span></span></div>
                </div>

                {# имя застрахованного #}
                <div class="b-data__line">
                    <div class="b-label__wr col-md-4 col-xs-5">
                        <div class="row">
                            <label for="id_insured_fname">{% trans 'Имя' %}</label>
                        </div>
                    </div>
                    <div class="b-input__wr col-md-7 col-xs-6">
                        <div class="row">
                            <input type="text" name="insured_fname" id="id_insured_fname" class="b-input">
                        </div>
                    </div>

                    <div class="field-error"><span></span></div>
                </div>

                {# отчество застрахованного #}
                <div class="b-data__line">
                    <div class="b-label__wr col-md-4 col-xs-5">
                        <div class="row">
                            <label for="id_insured_mname">{% trans 'Отчество' %}</label>
                        </div>
                    </div>
                    <div class="b-input__wr col-md-7 col-xs-6">
                        <div class="row">
                            <input type="text" name="insured_mname" id="id_insured_mname" class="b-input">
                        </div>
                    </div>

                    <div class="field-error"><span></span></div>
                </div>
            </div>
        </div>

    </div>

    <div class="b-form__right clearfix">
        <div class="b-right__info j-right__info-fixed">
            {# Информация  #}
            {% include 'calculator/steps/health/right_info.html' %}
            {# Выбранные продукты #}
            {% include 'calculator/steps/health/right_products.html' %}

            <button type="button" class="order button j-last__show j-next__click">{% trans 'Оформить' %}</button>

        </div>
    </div>

</div>