{% extends 'common/inner.html' %}
{% load i18n %}


{% block body_content %}
<div class="container-fluid visible-xs black-title-xs insurance-xs">
    <div class="row">
        <div class=" col-xs-offset-1 col-xs-11">
            <span class="black-title">{% trans 'Страхование' %}</span>
        </div>
    </div>
</div>
<div class="insurance-header hidden-xs">
    <div class="container-fluid inner-container">
        <div class="row">
            <div class="col-xs-offset-1 col-md-8 col-lg-6 col-xs-10">
                <div class="row">
                    <span class="black-title hidden-xs">{% trans 'Страховые продукты' %}</span>
                    <h1></h1>
                    <p class="insurance-sub-title"></p>
{#                    {% include 'calculator/includes/buy_now_button.html' %}#}
                </div>
            </div>
        </div>
    </div>
</div>

{# Блок иконок вызова модалок для xs экранов #}
{#{% include 'common/includes/base_modal_icons_xs.html' %}#}

{# Часть страницы продукта с вариантами доставки полиса #}
<div class="insurance-dev container-fluid">
    <div class="row">

        <div class="insurance-dev-block col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2 clearfix">
            <div class="row" style="margin-top: 50px; margin-bottom: 50px">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="/insurance/">{% trans 'К списку страховых продуктов' %}</a>
                        </div>
                    </div>

                    <div class="row" style="padding: 10px; border-bottom: 1px dotted #ddd;">
                        <div class="col-md-1 col-sm-2 col-xs-3">
                            <img src="{{ STATIC_URL }}common/img/question/q_icon_1.png">
                        </div>
                        <div class="col-md-11 col-sm-10 col-xs-9 text-capitalize">
                            <p style="font-size: 24px; padding-top: 10px;">{% trans 'СуперКАСКО' %}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>{% trans 'Что страхует продукт?' %}</h3>
                            <p>{% trans 'Ваш автомобиль' %}</p>

                            <h3>{% trans 'Срок договора' %}</h3>
                            <p>{% trans 'Договор заключается на 12 месяцев' %}</p>

                            <h3>{% trans 'Краткое описание страхового продукта' %}</h3>
                            <p>{% trans 'Супер КАСКО – является своего рода дополнением к ОСАГО. Данный продукт является аналогом КАСКО. Супер КАСКО – это добровольное страхование вашего автомобиля со страховым покрытием в 5000 AZN, которое Вы можете купить всего за 50 AZN.' %}</p>

                            <h3>{% trans 'Покрываемые риски' %}</h3>
                            <p>{% trans 'Столкновение 2-х или более транспортных средств' %}</p>

                            <h3>{% trans 'Преимущества продукта' %}</h3>
                            <p>
                                <div class="icon-ok" style="float: left"></div> <span style="padding-left: 10px;">{% trans 'Сбор документов со стороны сотрудников компании «Атешгях».' %}</span><br/>
                                <div class="icon-ok" style="float: left"></div> <span style="padding-left: 10px;">{% trans 'Франшиза не применяется (франшиза – это часть причиненного в результате страхового случая ущерба, которая не обеспечивается страхованием и оплачивается страхователем).' %}</span> <br/>
                                <div class="icon-ok" style="float: left"></div> <span style="padding-left: 10px;">{% trans 'Выгодные условия' %}</span>
                            </p>


                            <h3>{% trans 'Важно знать' %}</h3>
                            <p>
                                <div class="icon-ok" style="float: left"></div> <span style="padding-left: 10px;">{% trans 'Можно купить ТОЛЬКО в момент приобретения ОСАГО в Атешгях;' %}</span> <br/>
                                <div class="icon-ok" style="float: left"></div> <span style="padding-left: 10px;">{% trans 'Истечение страхового периода либо досрочная ликвидация договора ОСАГО влечет за собой автоматическое аннулирование страхового продукта «Супер КАСКО»;' %}</span> <br/>
                                <div class="icon-ok" style="float: left"></div> <span style="padding-left: 10px;">{% trans 'При страховом случае страховая выплата осуществляется в случае Вашей невиновности' %}</span>
                            </p>

                            <h3>{% trans 'Мнение экспертов “Odlar Yurdu Sığorta Brokeri”' %}</h3>
                            <blockquote>
                              <p>{% trans 'Если Вы считаете, что причиной ДТП могут стать другие участники дорожного движения, а не Вы, то эксперты “Odlar Yurdu Sığorta Brokeri” рекомендуют Вам приобрести полис Супер КАСКО, так как полис выгоден и удобен тем, кто постоянно страхуется в Атешгях ввиду того, что предоставляется только с ОСАГО.' %}</p>
                              <footer>{% trans 'Команда “Odlar Yurdu Sığorta Brokeri”' %}</footer>
                            </blockquote>

                            <h3>{% trans 'Похожие продукты' %}</h3>
                            <ul>
                                <li><a href="/insurance/auto/confidentdriver/">{% trans 'Уверенный водитель' %}</a></li>
                                <li><a href="/insurance/auto/simplekasko/">{% trans 'Простое КАСКО' %}</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock body_content %}
