{# Временно закооментировано доя реализации функционала по этим иконкам #}
{#<div class="container-fluid visible-xs">#}
{#    <div class="row stick-sm">#}
{#        <div class="col-xs-2"></div>#}
{#        <div class="col-xs-2">#}
{#            <a href="#" class="calk-open"><img src="{{ STATIC_URL }}common/img/320/stick-ico_03.png"></a>#}
{#        </div>#}
{#        <div class="col-xs-1"></div>#}
{#        <div class="col-xs-2">#}
{#            <a href="#" class="chat-open"><img src="{{ STATIC_URL }}common/img/320/stick-ico_05.png"></a>#}
{#        </div>#}
{#        <div class="col-xs-1"></div>#}
{#        <div class="col-xs-2">#}
{#            <a href="#" class="feed-open"><img src="{{ STATIC_URL }}common/img/320/stick-ico_07.png"></a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}