{% extends 'common/inner.html' %}
{% load i18n %}
{% load staticfiles %}
{% load static %}

<!-- NEW HTML START -->
{% block body_content %}
<div class="scr2 sale-container">
    <div class="container-fluid inner-container step-3">
        <div class="row">
            <div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-lg-8 col-md-10 col-sm-10 col-xs-12">
                <h1>ОСАГО Покупка Полиса</h1>
                <p>"Odlar Yurdu Sığorta brokeri" не несет ответственность за информацию, введенную неправильно.</p>

                <form method="post" action="/sale-step-3.html" class="clearfix j-clr-form" id="saleForm">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-4 col-xs-6">
                            <div class="form-group">
                                <label>Регистрационный номер:</label>
                                <div class="data">{{ client_data.registration_number }}</div>
                                <!--<div class="data">90-mb-096</div> -->
                            </div>

                            <div class="form-group">
                                <label>Марка автомобиля:</label>
                                <div class="data">{{ client_data.car_manufacturer.name }}</div>
                            </div>

                            <div class="form-group">
                                <label>Модель автомобиля:</label>
                                <div class="data">{{ client_data.car_model.model }}</div>
                            </div>

                            <div class="form-group">
                                <label>Тип автомобиля:</label>
                                <div class="data">{{ client_data.car_type.car_type }}</div>
                            </div>

                            <div class="form-group">
                                <label>{{ type }}:</label>
                                <div class="data">{{ value }}</div>
                            </div>
                        </div>

                        <div class="col-md-offset-2 col-md-4 col-xs-6">
                            <div class="form-group">
                                <label>Тип страхователя:</label>
                                <div class="data">{{ client_data.person_type.person_type }}</div>
                            </div>

                            <div class="form-group">
                                <label>Пин Код/ИНН/Другой ИД:</label>
                                <div class="data">{{ client_data.pin_code }}</div>
                            </div>

                            <div class="form-group doc clearfix">
                                <label>Серия и номер удостоверения:</label>
                                <div class="data">{{ client_data.driver_license_series }} {{ client_data.driver_license_number }}</div>
                            </div>

                            <div class="form-group">
                                <label>Период действия:</label>
                                <div class="data">{{ client_data.start_date }}</div>
                            </div>

                            <div class="form-group">
                                <label>Территория регистрации:</label>
                                <div class="data">{{ client_data.territory.name }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-offset-1 col-md-4 col-xs-6">
                            <div class="form-group">
                                <label>Телефон:</label>
                                <div class="data">{{ client_data.phone }}</div>
                            </div>
                        </div>

                        <div class="col-md-offset-2 col-md-4 col-xs-6">
                            <div class="form-group">
                                <label>E-mail:</label>
                                <div class="data">{{ client_data.email }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-offset-1 col-md-4 col-xs-6">
                            <div class="form-group">
                                <div class="checkbox-inline">
                                    <label>
                                        <input type="checkbox" name="license" value="1" data-validation="required">
                                        Данные указаны верно
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-offset-2 col-md-4 col-xs-6">
                            <div class="form-group">
                                <label>ваша коммися:</label>
                                <div class="data">35.60 AZN</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-offset-1 col-md-4 col-xs-6">
                            <a href="/sale-step-2.html" class="order button">Редактировать</a>
                        </div>

                        <div class="col-md-offset-2 col-md-4 col-xs-6">
                            <button type="submit" class="order button">Оплатить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- NEW HTML END -->


<script type="text/javascript">
			window.saleInsurancePremiumVals = {
				/* car[make] */
				1: {
					/* car[model] */
					1: {title: "Focus", /* car[type] */ type: {1: "Легковые автомобили"}, more: {1: "#carEngine"}},
					2: {title: "Mondeo", /* car[type] */ type: {1: "Легковые автомобили", 5: "Прицепы и полуприцепы"}, more: {1: "#carEngine"}}
				},
				2: {
					1: {title: "Sportage", type: {1: "Легковые автомобили"}, more: {1: "#carEngine"}},
					2: {title: "Sorento", type: {1: "Легковые автомобили"}, more: {1: "#carEngine"}},
					3: {title: "Rio", type: {1: "Легковые автомобили"}, more: {1: "#carEngine"}}
				},
				3: {
					1: {title: "CL203", type: {1: "Легковые автомобили"}, more: {1: "#carEngine"}},
					2: {title: "Transporter", type: {3: "Автобус и микроавтобусы"}, more: {3: "#carSize"}}
				},
				4: {
					1: {title: "8C Spider", type: {1: "Легковые автомобили"}, more: {1: "#carEngine"}},
					2: {title: "Giulietta", type: {4: "Грузовые автомобили"}, more: {4: "#carWeight"}}
				}
			};
		</script>

    {% include 'flatpages/includes/inner_policy_ordering_auto.html' %}

    {# Блок "Как работает" #}
    {% include 'flatpages/includes/inner_insurance_details_auto.html' %}

    {# Часть страницы продукта с вариантами доставки полиса #}
    {% include 'flatpages/includes/inner_policy_delivery_auto.html' %}
{% endblock %}