{% load i18n %}
<table class="table product-compare-table">
    <thead>
        <tr>
            <th></th>
            <th colspan="2"><img src="{{ STATIC_URL }}common/img/partners/ateshgah_sm.png"></th>
            <th colspan="2"><img src="{{ STATIC_URL }}common/img/partners/meqa_sm.png"></th>
            <th colspan="2"><img src="{{ STATIC_URL }}common/img/partners/axa_sm.png"></th>
            <th colspan="2"><img src="{{ STATIC_URL }}common/img/partners/ata_sm.png"></th>
        </tr>
        <tr>
            <th class="brd-rght"></th>
            <th>{% trans 'Стандартная' %}</th>
            <th class="brd-rght">{% trans 'Премиум' %}</th>
            <th>{% trans 'Стандартная' %}</th>
            <th class="brd-rght">{% trans 'Премиум' %}</th>
            <th>{% trans 'Стандартная' %}</th>
            <th class="brd-rght">{% trans 'Премиум' %}</th>
            <th>{% trans 'Стандартная' %}</th>
            <th>{% trans 'Премиум' %}</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="brd-rght">{% trans 'Медицинские расходы' %}</td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
        </tr>
        <tr>
            <td class="brd-rght">{% trans 'Расходы на медицинскую эвакуацию' %}</td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
        </tr>
        <tr>
            <td class="brd-rght">{% trans 'Расходы на репартацию' %}</td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
        </tr>
        <tr>
            <td class="brd-rght">{% trans 'Потеря багажа' %}</td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
        </tr>
        <tr>
            <td class="brd-rght">{% trans 'Отмена поездки' %}</td>
            <td><div class="icon-ok center-block"></div></td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center brd-rght" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
        </tr>
        <tr>
            <td class="brd-rght">{% trans 'Задержка рейса' %}</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght text-center" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
        </tr>
        <tr>
            <td class="brd-rght">{% trans 'Потеря документов / Юридическая поддержка' %}</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
        </tr>
        <tr>
            <td class="brd-rght">{% trans 'Смерть или получение инвалидности 1 группы' %}</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center brd-rght" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght text-center" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
        </tr>
        <tr>
            <td class="brd-rght">{% trans 'Экстренное возвращение в случае смерти или болезни близкого родственника' %}</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center brd-rght" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
        </tr>
        <tr>
            <td class="brd-rght">{% trans 'Медицинское обследование близкого родственника' %}</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center brd-rght" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center brd-rght" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="brd-rght"><div class="icon-ok center-block"></div></td>
            <td class="text-center" style="font-weight: bold">—</td>
            <td class="text-center" style="font-weight: bold">—</td>
        </tr>
        {% if request.GET.buttons == '1' %}
        <tr>
            <td></td>
            <td style="padding-top: 20px;">
                <a href="#" class="order button-sm" style="height: 45px; line-height: 40px; width:100%;" onclick="select_options(1, 1);">{% trans 'выбрать' %}</a>
            </td>
            <td style="padding-top: 20px;">
                <a href="#" class="order button-sm" style="height: 45px; line-height: 40px; width:100%;" onclick="select_options(1, 2);">{% trans 'выбрать' %}</a>
            </td>
            <td style="padding-top: 20px;">
                <a href="#" class="order button-sm" style="height: 45px; line-height: 40px; width:100%;" onclick="select_options(5, 1);">{% trans 'выбрать' %}</a>
            </td>
            <td style="padding-top: 20px;">
                <a href="#" class="order button-sm" style="height: 45px; line-height: 40px; width:100%;" onclick="select_options(5, 2);">{% trans 'выбрать' %}</a>
            </td>
            <td style="padding-top: 20px;">
                <a href="#" class="order button-sm" style="height: 45px; line-height: 40px; width:100%;" onclick="select_options(11, 1);">{% trans 'выбрать' %}</a>
            </td>
            <td style="padding-top: 20px;">
                <a href="#" class="order button-sm" style="height: 45px; line-height: 40px; width:100%;" onclick="select_options(11, 2);">{% trans 'выбрать' %}</a>
            </td>
            <td style="padding-top: 20px;">
                <a href="#" class="order button-sm" style="height: 45px; line-height: 40px; width:100%;" onclick="select_options(8, 1);">{% trans 'выбрать' %}</a>
            </td>
            <td style="padding-top: 20px;"></td>
        </tr>
        {% else %}
        <tr><td colspan="9"></td></tr>
        {% endif %}
    </tbody>
</table>

<script type="text/javascript">
    function select_options(ins_company, risk_group) {
        var $cs = $('.b-calc__block #step-4');
        $cs.find('input[name="p4_inscompany"][value="'+ins_company+'"]').click();
        $cs.find('input[name="risk_group"][value="'+risk_group+'"]').click();
        compare_box_close();
        return false;
    }
</script>