{% extends 'common/base.html' %}
{% load lib_tags %}
{% load i18n %}

{% block navigation_menu %}
{% endblock %}

{% block body_content %}
    <form method='post' class="form-horizontal single_form well" role="form">
        {% csrf_token %}
        {% form_bootstrap form layout="horizontal" label_weight=6 %}
        
        <div class="pull-right">
            <input type='submit' class="btn btn-primary" value='{% trans 'Login' %}'>
        </div>
        <div class="clearfix"></div>

    </form>
{% endblock %}
