{% load i18n %}
<div class="calk sticker-l">
    <div class="modal-dialog modal-sm">
        <div class="sticker-window">
            <div class="modal-header">
                <a class="close" data-dismiss="modal"><img src="{{ STATIC_URL }}common/img/sticker-l_ex.png"></a>
                <h4 class="modal-title">{% trans 'Мои рассчеты' %}</h4>
            </div>
            <div class="cont">
                <div class="part">
                    <div><img src="{{ STATIC_URL }}common/img/auto_03.png"></div>
                    <div>
                        <p>Страхование автогражданской ответственности</p>
                        <a href="#">Открыть</a>
                    </div>
                    <div>
                        <p class="val">17228,00 руб</p>

                        <p class="number">#234809</p>
                    </div>
                </div>
                <div class="part">
                    <div><img src="{{ STATIC_URL }}common/img/auto_03.png"></div>
                    <div>
                        <p>Страхование автогражданской ответственности</p>
                        <a href="#">Открыть</a>
                    </div>
                    <div>
                        <p class="val">17228,00 руб</p>

                        <p class="number">#234809</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>