<div class="feed sticker-l">
    <div class="modal-dialog modal-sm">
        <div class="sticker-window">
            <div class="modal-header">
                <a class="close" data-dismiss="modal"><img src="{{ STATIC_URL }}common/img/sticker-l_ex.png"></a>
                <h4 class="modal-title">Отзывы</h4>
            </div>
            <div class="cont clearfix">
                <div class="part clearfix">
                    <div class="akk clearfix">
                        <img class="name_icon" src="{{ STATIC_URL }}common/img/and.png">

                        <p class="name">Alexander Petrov</p>
                        <a href="#"><img src="{{ STATIC_URL }}common/img/faceb1.png"></a><span
                            class="like-num">3 070</span>
                    </div>
                    <div class="part-t clearfix">
                        <p>Экономическая сущность страхования состоит в создании страховых фондов за счёт взносов
                            заинтересованных в страховании сторон и предназначенных для возмещения ущерба (чаще всего —
                            у лиц, участвующих в формировании этих фондов). Поскольку возможный ущерб носит
                            вероятностный характер (страховой риск), то происходит перераспределение страхового фонда
                            как в пространстве так и во времени. Можно сказать, что возмещение ущерба у пострадавших лиц
                            происходит за счёт взносов всех, кто участвовал в формировании этих страховых фондов.</p>

                        <div class="botom">
                            <a href="#">Нравится</a><span>&#183</span>
                            <a href="#">Поделиться</a>
                        </div>
                    </div>
                </div>
                <div class="part clearfix">
                    <div class="akk clearfix">
                        <img class="name_icon" src="{{ STATIC_URL }}common/img/ange.png">

                        <p class="name">Angela Gabriela</p>
                        <a href="#"><img src="{{ STATIC_URL }}common/img/faceb1.png"></a><span
                            class="like-num">3 070</span>
                    </div>
                    <div class="part-t clearfix">
                        <p>Самострахование как система создания и использования страховых фондов хозяйствующими
                            субъектами и людьми. Эти децентрализованные страховые фонды создаются в натуральной и
                            денежной форме. Эти фонды предназначены для преодоления временных затруднений в деятельности
                            конкретного товаропроизводителя или человека. Основным источником формирования
                            децентрализованных страховых фондов служат доходы предприятия или отдельного человека.</p>

                        <div class="botom">
                            <a href="#">Нравится</a><span>&#183</span>
                            <a href="#">Поделиться</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#"><img src="{{ STATIC_URL }}common/img/faceb2.png"> Социальный плагин Facebook</a>
            </div>
        </div>
    </div>
</div>