{% extends 'common/inner.html' %}
{% load i18n %}

{% block body_content %}
    <div class="quest-top">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xs-8 col-sm-4  col-xs-offset-1">
                <div class="row">
                    <span class="black-title">{% trans 'вопросы и ответы' %}</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'common/includes/base_modal_icons_xs.html' %}

<div  class="quest-info">
    <div  class="container-fluid">
        <div class="row">
            <div role="tabpanel"  class="col-md-offset-2 q_icons col-md-8 col-sm-12">
                <div class="row">
                    <ul role="tablist" class="q-tabs">
                        <li class="col-sm-3 col-xs-6 clearfix active">
                            <a href="#auto" aria-controls="auto" role="tab" data-toggle="tab" class="open">
                                <img src="{{ STATIC_URL }}common/img/question/q_icon_1.png">
                                <p>{% trans 'страхование<br/>автомобиля' %}</p>
                                <img class="q_down" src="{{ STATIC_URL }}common/img/question/q_down.png">
                            </a>
                        </li>
                        <li class="col-sm-3 col-xs-6 clearfix">
                            <a href="#build" aria-controls="build" role="tab" data-toggle="tab">
                                <img src="{{ STATIC_URL }}common/img/question/q_icon_2.png">
                                <p>{% trans 'страхование<br/>недвижимости' %}</p>
                                <img class="q_down" src="{{ STATIC_URL }}common/img/question/q_down.png">
                            </a>
                        </li>
                        <li class="col-sm-3 col-xs-6 clearfix">
                            <a href="#health" aria-controls="health" role="tab" data-toggle="tab">
                                <img src="{{ STATIC_URL }}common/img/question/q_icon_3.png">
                                <p>{% trans 'страхование<br/>здоровья' %}</p>
                                <img class="q_down active" src="{{ STATIC_URL }}common/img/question/q_down.png">
                            </a>
                        </li>
                        <li class="col-sm-3 col-xs-6 clearfix">
                            <a href="#travel" aria-controls="travel" role="tab" data-toggle="tab">
                                <img src="{{ STATIC_URL }}common/img/question/q_icon_4.png">
                                <p>{% trans 'страхование<br/>путешествий' %}</p>
                                <img class="q_down" src="{{ STATIC_URL }}common/img/question/q_down.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content q_list">
                <div role="tabpanel" id="auto" class="col-xs-offset-2 col-xs-10 col-sm-offset-3 fade tab-pane in active col-sm-6">
                    <div  class="row">
                        <ul class="q_list">
                            <li>
                                <p class="spoiler-title">{% trans 'Что такое страхование?' %}</p>
                                <p class="q_ans">{% trans 'Страхование - это механизм передачи и разделения рисков. Таким образом, страхование обеспечивает лицам, которым был причинен ущерб, восстановить свое прежнее финансовое положение' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Что такое договор страхования?' %}</p>
                                <p class="q_ans">{% trans 'Договор страхования - это соглашение, достигнутое между страхователем и страховщиком, в соответствии с которым страховщик берет на себя обязательства возместить причиненные страховым случаем убытки, а страхователь - оплатить страховую плату (премию)' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Что такое страховая плата (премия)?' %}</p>
                                <p class="q_ans">{% trans 'Страховая плата (премия) – это денежная сумма, оплаченная Вами страховой компании в период и в порядке, предусмотренными договором страхования' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Что такое франшиза и как она влияет на страховую плату?' %}</p>
                                <p class="q_ans">{% trans 'Франшиза – это часть причиненного в результате страхового случая ущерба, которая не обеспечивается страхованием и оплачивается страхователем. Вы часто сталкиваетесь с мелкими ущербами, с которыми можете разбираться самостоятельно, без обращения к страховщику. Для таких случаев в договоре страхования предусмотрена франшиза. Страховщик оплачивает сумму причиненного в результате страхового случая ущерба, за вычетом франшизы' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Какие риски охватывает автомобильное страхование?' %}</p>
                                <p class="q_ans">{% trans 'При страховании автомобиля Вы можете выбрать любой из предложенных ниже трех или же все три вида страхового покрытия:<br/>1.Страхование автомобиля - возмещение ущерба, причиненного вашему автомобилю. (при дорожно-транспортном происшествии, пожаре, взрыве, злонамеренных действиях третьих лиц, краже и т.д.)<br/>2.Возмещение ущерба, причиненного вашему здоровью и здоровью пассажиров, находившихся в автомобиле.<br/>3.Страхование гражданской ответственности - возмещение страховщиком ущерба, причиненного окружающим, по вашей вине' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Как определяется стоимость автомобиля при страховании?' %}</p>
                                <p class="q_ans">{% trans 'При страховании за основу берется рыночная стоимость Вашего автомобиля' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Могу ли я застраховать автомобиль, которым пользуюсь на основании доверенности?' %}</p>
                                <p class="q_ans">{% trans 'Да, Вы можете застраховать автомобиль, которым пользуетесь на основании доверенности' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Что такое «полная гибель» транспортного средства?' %}</p>
                                <p class="q_ans">{% trans 'Полная гибель – это состояние автомобиля, когда повреждения настолько большие, что затраты на ремонт превысят 70&#37; стоимости автомобиля (в некоторых договорах указывается цифра 75&#37;). В таких случаях клиенту выплачивается общая страховая сумма (за вычетом соответствующих отчислений в соответствии с условиями страхового полиса, то есть, эксцедент, неполное страхование и т.д.)' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'На какой срок можно оформить полис каско, ОСАГО?' %}</p>
                                <p class="q_ans">{% trans 'Полис Каско оформляется на срок от 1 года. Срок страхования по полису ОСАГО 1 год' %}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" id="build" class="col-xs-offset-2 col-xs-10 col-sm-offset-3 fade tab-pane col-sm-6">
                    <div  class="row">
                        <ul class="q_list">
                           <li>
                                <p class="spoiler-title">{% trans 'Что можно застраховать?' %}</p>
                                <p class="q_ans">{% trans 'Страхование имущества подразумевает страхование личного движимого имущества и недвижимости. Недвижимость - это квартира, апартаменты, дача, дом, а именно: их конструктивные элементы (стены, перегородки, фундамент, перекрытия и пр.), внутренняя отделка и инженерное оборудование. Движимое/личное имущество – это то, что наполняет недвижимость. Это бытовая техника, мебель, одежда, хозяйственный и спортивный инвентарь и другое движимое имущество кроме исключений, указанных в Правилах страхования. <br/>Если вы страхуете дом/дачу, то можно застраховать не только дом, но и иные постройки на участке – сарай, летнюю кухню и т.д., а также беседку, забор, ландшафтные сооружения и т.п.' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'От чего можно застраховать свое имущество?' %}</p>
                                <p class="q_ans">{% trans 'Мы страхуем личное движимое и недвижимое имущество от самых распространённых рисков: пожар, взрыв, удар молнии, залив, противоправные действия третьих лиц, стихийные бедствия и механические повреждения.<br/>Помимо базовых (стандартных) рисков и покрытий, мы предлагаем клиентам набор дополнительных опций при выборе программы страхования. Дополнительно можно защитить имущество от рисков: неисправность сетей, бой стёкол, расширенный перечень ситуаций, относящихся к риску «Залив», а также застраховать собственную гражданскую ответственность перед соседями, здоровье и жизнь проживающих на территории недвижимости, непредвиденные расходы в случае потери арендной платы либо временного отсутствия жилья' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Что будет при отказе от полиса?' %}</p>
                                <p class="q_ans">{% trans 'Если вы решите отказаться от полиса до вступления его в силу, мы полностью возвратим страховую премию. Если вы откажетесь от оплаченного ежемесячного полиса во время его действия, то ваш полис будет действовать до окончания оплаченного периода, а далее мы просто прекратим его продление. Если ваш полис годовой – Страховая компания вернет премию за не истекший оплаченный срок страхования' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Если я раздумаю страховаться, что делать?' %}</p>
                                <p class="q_ans">{% trans 'Вы можете сообщить о своем решении в любой момент, позвонив по телефону *0707 или обратившись в один из центов оказания услуг ASAN Xidmet к сотрудникам нашей компании' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Кто получит выплату в случае смерти Застрахованного?' %}</p>
                                <p class="q_ans">{% trans 'В случае смерти Застрахованного, выплату получают его наследники, если иное не предусмотрено договором страхования' %}</p>
                            </li>

                            <li>
                                <p class="spoiler-title">{% trans 'Кто может являться выгодоприобретателем по полису страхования квартиры или дома?' %}</p>
                                <p class="q_ans">{% trans 'В соответствии с законодательством выгодоприобретателем по договору страхования имущества может являться лицо, имеющее основанный на законе, ином правовом акте или договоре интерес в сохранении этого имущества. На практике это означает, что выгодоприобретателем может быть:<br/>1.Собственник жилья<br/> 2.Арендатор жилого помещения по договору коммерческого или социального найма' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Надо ли страховать своё имущество и недвижимость, если квартира находится в ипотеке и, соответственно, застрахована по программе ипотечного страхования?' %}</p>
                                <p class="q_ans">{% trans 'Ипотечное страхование по требованию банков подразумевает страхование только конструктивных элементов квартиры, т.е. защиту от тотального повреждения или разрушения несущих конструкций. При этом ваш ремонт, вся внутренняя отделка квартиры и движимое имущество остаются незащищенными. По программе добровольного страхования имущества вы можете застраховать отделку квартиры и движимое имущество, а также ответственность перед соседями' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Кто получит выплату в случае смерти Застрахованного?' %}</p>
                                <p class="q_ans">{% trans 'В случае смерти Застрахованного, выплату получают его наследники, если иное не предусмотрено договором страхования' %}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" id="health" class="col-xs-offset-2 col-xs-10 col-sm-offset-3 fade tab-pane col-sm-6">
                    <div  class="row">
                        <ul class="q_list">
                            <li>
                                <p class="spoiler-title">{% trans 'Что делать при наступлении страхового события по страхованию здоровья?' %}</p>
                                <p class="q_ans">{% trans 'При наступлении страхового случая, связанного с причинением вреда здоровью, прежде всего, незамедлительно обратитесь к врачу и соблюдайте все его рекомендации;<br/> Сообщите о случившемся в Страховую компанию или нам по телефону *0707 не позднее 30 дней с момента наступления события' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Будет ли производиться выплата клиенту, имевшему инвалидность на момент заключения договора страхования, при получении им более тяжкой группы инвалидности?' %}</p>
                                <p class="q_ans">{% trans 'Да, будет, если в результате страхового случая Клиент получил более тяжкую группу инвалидности' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Возможно ли внести изменения в полис, если я выйду замуж/женюсь/разведусь?' %}</p>
                                <p class="q_ans">{% trans 'Конечно, в любое время вы можете внести изменения в договор, позвонив нам в контактный центр по телефону *0707, либо через личный кабинет на нашем сайте' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Что будет при отказе от полиса?' %}</p>
                                <p class="q_ans">{% trans 'Если вы решите отказаться от полиса до вступления его в силу, мы полностью возвратим страховую премию. Если вы откажетесь от оплаченного ежемесячного полиса во время его действия, то ваш полис будет действовать до окончания оплаченного периода, а далее мы просто прекратим его продление. Если ваш полис годовой – Страховая компания вернет премию за не истекший оплаченный срок страхования' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Если я раздумаю страховаться, что делать?' %}</p>
                                <p class="q_ans">{% trans 'Вы можете сообщить о своем решении в любой момент, позвонив по телефону *0707 или обратившись в один из центов оказания услуг ASAN Xidmet к сотрудникам нашей компании' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Кто получит выплату в случае смерти Застрахованного?' %}</p>
                                <p class="q_ans">{% trans 'В случае смерти Застрахованного, выплату получают его наследники, если иное не предусмотрено договором страхования' %}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" id="travel" class="col-xs-offset-2 col-xs-10 col-sm-offset-3 fade tab-pane col-sm-6">
                    <div  class="row">
                        <ul class="q_list">
                            <li>
                                <p class="spoiler-title">{% trans 'Какой вариант страхования подобрать для моего путешествия: полис на одну поездку или годовой полис?' %}</p>
                                <p class="q_ans">{% trans 'Это зависит от того, как часто Вы путешествуете. Если Вы выезжаете за границу несколько раз в год - выгоднее приобрести годовой полис. Вам не придется оформлять страховку перед каждой новой поездкой. Действие годового полиса распространяется на 90 дней путешествий без ограничения по количеству дней в каждой поездке' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Какие виды спорта могут быть включены в страховое покрытие?' %}</p>
                                <p class="q_ans">{% trans 'Полисы TRAVEL предусматривают возможность страховой защиты во время занятий любительским спортом и активным отдыхом. Под ними понимаются: горнолыжный спорт, сноубординг, дайвинг (на глубине до 30 метров), подводная охота, а также иные виды физической активности. Подробнее см. Правила Страхования. Если в поездке Вы планируете заниматься спортом – не забудьте включить это покрытие в Ваш страховой полис' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Подходит ли полис TRAVEL для получения визы в страны Шенген?' %}</p>
                                <p class="q_ans">{% trans 'Полис TRAVEL соответствует всем необходимым требованиям для получения визы в страны Шенгенского соглашения. Некоторые страны предъявляют особые требования к полису страхования. Все они учитываются нашей системой онлайн-оформления' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Что предполагает страхование «гражданской ответственности» при поездках за границу?' %}</p>
                                <p class="q_ans">{% trans 'Электронный полис страхования имеет такую же силу, как его традиционный бумажный аналог. Это значит, он также подходит для получения визы. Для включения полиса в пакет документов с целью получения визы мы рекомендуем распечатать полис на принтере и поставить на него свою подпись в соответствующей графе' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Чем отличается бумажный полис от электронного?' %}</p>
                                <p class="q_ans">{% trans 'Полис TRAVEL соответствует всем необходимым требованиям для получения визы в страны Шенгенского соглашения. Некоторые страны предъявляют особые требования к полису страхования. Все они учитываются нашей системой онлайн-оформления' %}</p>
                            </li>
                            <li>
                                <p class="spoiler-title">{% trans 'Что делать в экстренной ситуации, когда нет возможности самостоятельно связаться со страховой компанией?' %}</p>
                                <p class="q_ans">{% trans 'Именно для таких ситуаций мы рекомендуем распечатать электронный полис страхования. Он может быть необходим как для прохождения пограничного контроля в некоторых странах, так и в случаях, когда нужна экстренная помощь: в полисе содержится информация для врачей, которая сориентирует их, какие действия необходимо предпринять, если у клиента нет возможности самостоятельно связаться со страховой компанией' %}</p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="q_form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-offset-1 question_modal col-xs-10">
                <div class="row">
                    <div class=" left">
                        <h3>{% trans 'Не нашли ответ на свой вопрос? Задайте его нам.' %}</h3>
                        <div class="left-wr">
                            {% include 'common/forms/ask_question.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}